*{
    margin: 0;
    font-family:'arial',sans-serif;
    border:border-box;

}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;

}

/** box-1**/

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    height:50px;
    width: 100%;
    background-image: url(imgs/amazon_logo.png);
    background-size: cover;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid #ffffff;
    border-radius: 5px;
}

/** box-2**/


.add-first{
    color: #cccccc;
    font-size: 0.75rem;
    margin-left: 15px;
}

.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items:center;
}